{{!-- {{#if user}}

{{else}}
{{#ifCond '3' '3'}}
<h1>true</h1>
{{else}}
<h1>false</h1>
{{/ifCond}}
{{/if}} --}}
{{!-- {{data.email}} --}}

{{#each data}}
	{{@key}} :{{this}} <br/>
{{/each}}

{{!-- {{#each data}}
    <tr>
        {{!-- <td>{{++$i}}</td> --}}
        <td>{{this.firstName}}</td>
        
    </tr>
{{!-- {{/each}} --}} --}}

h